body
{
    background-color: #fdfdfd;
}

.page-title
{
    text-align: center;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.service-intro
{
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.center-section-title
{
    font-weight: lighter;
    color: #A5A5A3;
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.statistical-center-pane
{
    width: 70%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.butterfly-split-pane
{
    display: grid;
    width: 100%;
    grid-template-areas: "left right";
    grid-template-columns: 50% 50%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.butterfly-left
{
    width: auto;
    grid-area: left;
}

.butterfly-right
{
    height: 100%;
    width: 100%;
    grid-area: right;
}

.stat-grid
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "title"
    "value";
    grid-template-rows: auto auto;
}

.stat-txt
{
    margin: 0px;
    position: relative;
    text-align: center;
}

.stat-title
{
    
    grid-area: title;
}

.stat-value
{
    grid-area: value;
    font-size: 40px;
    line-height: 48px;
}

.copyright-msg
{
    position: fixed;
    bottom: 0px;
    margin: 0px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 8;
    color: #A5A5A3;
    font-weight: lighter;
}