@font-face
{
    font-family: Cairo;
    src: url(/assets/fonts/Cairo/Cairo-Regular.ttf);
}

*
{
    font-family: Cairo;
    color: #1c1c1c;
}

body
{
    background-color: #fdfdfd;
}

.center-container
{
    position: fixed;
    width: 65%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.page-title
{
    text-align: center;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.service-intro
{
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    margin-top: 15px;
    margin-bottom: 0px;
}