@font-face
{
    font-family: Cairo;
    src: url(../assets/fonts/Cairo/Cairo-Regular.ttf);
}

body
{
    background-color: #FDFDFD;
}

*
{
    font-family: Cairo;
    color: #1c1c1c;
}

.center-container
{
    position: relative;
    width: 65%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.page-title
{
    text-align: center;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hidden
{
    display: none;
}