*
{
    color: #1C1C1C;
}

.page-canvas
{
    height: 100%;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-areas: "header"
    "body";
    grid-template-rows: 60px 1fr;
}

.header-area
{
    height: 100%;
    width: 100%;
    grid-area: header;
}

.body-area
{
    height: 100%;
    width: 100%;
    grid-area: body;
    overflow-y: scroll;
}

#center-cont
{
    margin-top: 40px;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    height: 400px;
}

.article-title
{
    margin: 0px;
    font-size: 52px;
    line-height: 52px;
    font-weight: bold;
    color: #1C1C1C;
}

.article-published-on
{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 25px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #A5A5A3;
}

/* Primary body text */
.btxt
{
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 19px;
    line-height: 22px;
}

h3
{
    font-size: 27px;
    line-height: 27px;
    margin-top: 30px;
    margin-bottom: 8px;
}

/* short for "code block" */
.cb
{
    width: 100%;
    text-align: left;
    background-color: #EEEEEE;
    line-height: 21px;
    vertical-align: middle;
    font-size: 18px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}