.title
{
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;
}

.account-detail
{
    font-weight: bold;
}

.account-detail-title
{
    text-align: center;
    margin: 0px;
    font-size: 20px;
} 

.center-wrap-cont
{
    position: relative;
    width: 55%;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
}

.section-title
{
    text-align: left;
    text-transform: uppercase;
    color: #A5A5A3;
    font-size: 23px;
    font-weight: lighter;
    margin-bottom: 0px;
}

.section-title-line
{
    height: 2px;
    background-color: #A5A5A3;
    width: 100%;
    position: relative;
    border-radius: 50px;
}

.api-key-copy-pair
{
    margin-top: 5px;
    width: auto;
    display: grid;
    grid-template-areas: "key copy remainder";
    grid-template-columns: auto 90px 1fr;
    height: 30px;
}

.api-key
{
    grid-area: key;
    color: #1C1C1C;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: left;
    margin: 0px;
    font-size: 18px;
    line-height: 30px;
}

.copy-btn
{
    margin-left: 10px;
    grid-area: copy;
    height: 100%;
    width: 100%;
    border-style: solid;
    border-width: 1.5px;  
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    line-height: 27px;
    font-weight: bold; 
    cursor: pointer;
}

.copy-btn-norm
{
    color: #A5A5A3;
    border-color: #A5A5A3
}

.copy-btn-gold
{
    color: #FFD858;
    border-color: #FFD858;
}

.copy-btn-green
{
    color: rgb(0, 242, 0);
    border-color: rgb(0, 242, 0);
}

.api-key-details-list
{
    margin: 0px;
}

.api-key-details-list > li
{
    margin: 0px;
    line-height: 25px;
    font-size: 18px;
}