body
{
    margin: 0px;
}

.tab-menu
{
    width: 100%;
    height: 55px;
    position: relative;
    border-color: #FFD858;
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-top: 12px;

    display: grid;
    grid-template-areas: "tab1 tab2 tab3 tab4 tab5";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.tab-button
{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    line-height: 28px;
}

.search-desc
{
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.search-bar-cont
{
    width: 100%;
    height: 35px;
    display: grid;
    grid-template-areas: "b1 search b2";
    grid-template-columns: 120px auto 120px;
    position: relative;
}

#searchBar
{
    width: 100%;
    height: 35px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    grid-area: search;
    border-radius: 10px;
    border-width: 1px;
    outline: none;
    padding: 5px;
}

.search-results-master-cont
{
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.results-title
{
    color: #a5a5a3;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}

.line-sep
{
    background-color: #a5a5a3;
    height: 1px;
    width: 100%;
}

#search-results-list-cont
{
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.search-result-entry
{
    width: 100%;
    height: 45px;
    display: grid;
    grid-template-areas: "col1 col2 col3 col4 col5";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.search-result-txt
{
    margin: 0px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    text-overflow: clip;
    white-space: nowrap;
}

.search-result-col1
{
    grid-area: col1;
}

.search-result-col2
{
    grid-area: col2;
}

.search-result-col3
{
    grid-area: col3;
}

.search-result-col4
{
    grid-area: col4;
}

.search-result-col5
{
    grid-area: col5;
}

.showcase
{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 800px;
    width: 100%;
    position: relative;
    left: 0px;
    background-color: black;
}

#showcase-bg-img
{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.showcase-bg-img-buzz
{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: fill;
    z-index: 1;
    left: 0px;
    top: 0px;
    opacity: 100%;
}

.showcase-area
{
    width: 100%;
    background-color: rgba(0, 3, 84, 0.2);
    overflow: auto;
}

.showcase-grid
{
    width: 100%;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 50% 50%;
    margin-top: 30px;
}

.showcase-content
{
    position: relative;
    margin-top: 10px;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.splash-text
{
    position: relative;
    font-size: 50px;
    font-weight: bold;
    color: #1c1c1c;
    margin: 0px;
    line-height: 56px;
    margin-top: 30px;
}

.splash-text-desc
{
    position: relative;
    font-size: 30px;
    font-weight: normal;
    color: #a5a5a3;
    z-index: 2;
    margin-top: 6px;
    margin-bottom: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.service-preview
{
    position: relative;
    display: grid;
    grid-template-areas: "symb txt";
    grid-template-columns: 17px auto;
    height: 30px;
    display: inline-grid;
    margin-top: 5px;
    margin-right: 15px;
    padding-bottom: 5px;
    cursor: pointer;
}

.service-preview-selected
{  
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 3px;
    border-color: #FFD858;
    border-radius: 6px;
}

.service-preview-symb
{
    position: relative;
    grid-area: symb;
    height: 100%;
    width: 70%;
    left: 0px;
    
}

.service-preview-symb-norm
{
    background-color: #1c1c1c;
}

.service-preview-symb-gold
{
    background-color: #FFD858;
}

.service-preview-txt
{
    grid-area: txt;
    line-height: 30px;
    font-size: 30px;
    display: inline;
    color: #1c1c1c;
}

#service-description
{
    text-align: left;
    margin-top: 10px;
    font-size: 22px;
    word-wrap: break-word;
    width: 85%;
    color: #1c1c1c;
    line-height: 30px;
}

.aletheia-header
{
    position: relative;
}

.hp-content
{
    position: absolute;
    z-index: 2;
    top: 0px;
    width: 100%;
}

.get-call-receive
{
    width: 100%;
}

.get-call-grid
{
    display: grid;
    grid-template-areas: "get call";
    grid-template-columns: 1fr 1fr;
    width: 100%;
    position: relative;
}

.demo-content-title
{
    text-align: left;
    font-size: 30px;
    margin: 0px;
    font-weight: normal;
    line-height: 45px;
    color: #1c1c1c;
    text-transform: uppercase;
    font-size: 25px;
}

.demo-content-cont
{
    display: grid;
    grid-template-areas: "title"
    "content";
    grid-template-rows: 42px auto;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.demo-content
{
    margin: 0px;
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    color: #FDFDFD;
    background-color: #40405E;
    padding: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #7C7C96;
    word-wrap: break-word;
    word-break: break-all;
}

.response-example-cont
{  
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: max-content;
    max-width: 80%;
}

.response-example
{
    max-height: 400px;  
    overflow-y: scroll; 
    overflow-x: scroll;
    white-space: nowrap;
}

.home-section-title
{
    text-align: center;
    font-weight: normal;
    font-size: 45px;
    margin: 0px;
    line-height: 45px;
}

.we-have-processed
{
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.service-stats
{
    display: grid;
    grid-template-areas: "stat1 stat2 stat3 stat4";
    grid-template-columns: 25% 25% 25% 25%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.service-stats2
{
    display: grid;
    grid-template-areas: "stat1 stat2";
    grid-template-columns: 50% 50%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.service-stat
{
    position: relative;
    height: 100%;
    width: 100%;
}

.service-stat-val
{
    text-align: left;
    font-size: 3vw;
    font-weight: bolder;
    margin: 0px;
    line-height: 48px;
}

.service-stat-title
{
    text-align: left;
    font-size: 25px;
    font-weight: normal;
    line-height: 25px;
    margin: 0px;
    margin-top: 5px;
}

.no-code-cont
{
    width: 100%;
    background-color: rgb(116, 39, 117);
    position: relative;
    overflow-y: visible;
}

.no-code-title
{
    text-align: center;
    font-size: 40px;
    color: #FDFDFD;
    line-height: 40px;
    margin-top: 0px;
    margin-bottom: 32px;
}

#power-platform-examples
{
    width: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.low-code-icon-drawer
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: "i1 i2 i3 i4"
    "i1t i2t i3t i4t";
    grid-template-columns: 25% 25% 25% 25%;
}

.icon-img
{
    width: 90px;
    height: 90px;
    object-fit: contain;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.icon-desc
{
    text-align: center;
    color: #FDFDFD;
    font-size: 18px;
    margin: 0px;
}

.low-code-desc
{
    color: #FDFDFD;
    font-size: 18px;
    position: relative;
    text-align: center;
    line-height: 23px;
    margin-bottom: 0px;
    margin-top: 8px;
    display: block;
}

.cc-download
{
    text-align: center;
    text-decoration-style: dotted;
    color: skyblue;
    margin-top: 10px;
}

.cc-note
{
    text-align: center;
    font-size: 14px;
    color: #a5a5a3;
    margin: 0px;
}

.no-underline
{
    text-decoration: none;
}

#legal-dd
{
    position: relative;
    width: 100%;
    background-color: #FDFDFD;
    z-index: -2;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-color: #FFD858;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.tab-button-dd
{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
}

.pp-con-announcement
{
    height: 55px;
    width: 100%;
    background-color: rgb(116, 39, 117);
    margin-top: 10px;
    color: #FDFDFD;
    font-size: 20px;
    text-align: center;
    line-height: 55px;
}

.party-popper
{
    font-size: 28px;
    line-height: 55px;
}

.announcement-link
{
    color: #FDFDFD;
}

.headshot-review-pair
{
    width: 100%;
    height: 130px;
    display: grid;
    grid-template-areas: "headshot review";
    grid-template-columns: 130px 1fr;
}

.headshot-pic-cont
{
    height: 100%;
    width: 100%;
    grid-area: headshot;
}

.review-text-cont
{
    height: 100%;
    width: 100%;
    grid-area: review;
    position: relative;
    display: flex;
    flex-direction: column;
}

.review-text-middle
{
    width: 100%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.review-text
{
    text-align: left;
    font-size: 27px;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.review-author
{
    text-align: left;
    font-size: 20px;
    margin: 0px;
    font-style: italic;
    color: #40405E;
}

.review-headshot
{
    height: 130px;
    width: 130px;
    object-fit: fill;
    border-radius: 50%;
}

.star-cont
{
    height: 40px;
}

.gstar
{
    height: 40px;
    width: 40px;
    display: inline-block;
}

.cptitle
{
    font-size: 28px;
}

.follow-on-twitter-sect
{
    width: 100%;
    background-color: rgb(29, 161, 242);
    display: block;
    position: relative;
    overflow: hidden;
}

.twitter-feature
{
    width: 70%;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 50% 50%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.twitter-feature-txt
{
    width: 95%;
    display: block;
    margin-left: auto;
    font-family: Gotham;
    color: #FDFDFD;
}

@font-face
{
    font-family: Gotham;
    src: url(../branding/fonts/GothamLight.ttf);
}

.follow-on-twitter-h
{
    font-family: inherit;
    font-size: 32px;
    color: inherit;
    margin-top: 0px;
    margin-bottom: 0px;
}

.follow-on-twitter-desc
{
    font-family: inherit;
    font-size: 22px;
    color: inherit;
    margin-top: 10px;
}

.twitter-tag
{
    text-decoration: underline;
    color: inherit;
}

.tagline-area
{
    width: 100%;
    height: 45vh;
}

.tagline-content
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#tagline-main
{
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 40px;
}

#tagline-sub
{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: lighter;
}

@font-face
{
    src: url(./OpenSans-Regular.ttf);
    font-family: OpenSans;
}

.aletheia-header-2
{
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aletheia-wordmark
{
    font-size: 56px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.top-tab
{
    display: inline-block;
    font-size: 18px;
    position: relative;
    margin-left: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #a5a5a3;
}

.yt-review-video
{
    position: relative;
    width: 728px;
    height: 410px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 0px;
}
