.tab-menu
{
    width: 100%;
    height: 55px;
    position: relative;
    border-color: #FFD858;
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-top: 12px;

    display: grid;
    grid-template-areas: "tab1 tab2 tab3 remainder farright";
    grid-template-columns: 170px 170px 170px auto 170px;
}

.tab-button
{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
}

.tab-api
{
    grid-area: tab1;
}

.tab-about
{
    grid-area: tab2;
}

.tab-loginregister
{
    grid-area: farright;
}

.search-desc
{
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.search-bar-cont
{
    width: 100%;
    height: 35px;
    display: grid;
    grid-template-areas: "b1 search b2";
    grid-template-columns: 120px auto 120px;
    position: relative;
}

#searchBar
{
    width: 100%;
    height: 35px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    grid-area: search;
    border-radius: 10px;
    border-width: 1px;
    outline: none;
    padding: 5px;
}

.search-results-master-cont
{
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.results-title
{
    color: #a5a5a3;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}

.line-sep
{
    background-color: #a5a5a3;
    height: 1px;
    width: 100%;
}

#search-results-list-cont
{
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.search-result-entry
{
    width: 100%;
    height: 45px;
    display: grid;
    grid-template-areas: "col1 col2 col3 col4 col5";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.search-result-txt
{
    margin: 0px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    text-overflow: clip;
    white-space: nowrap;
}

.search-result-col1
{
    grid-area: col1;
}

.search-result-col2
{
    grid-area: col2;
}

.search-result-col3
{
    grid-area: col3;
}

.search-result-col4
{
    grid-area: col4;
}

.search-result-col5
{
    grid-area: col5;
}

.showcase
{
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    height: 380px;
    width: 100%;
    position: relative;
    left: 0px;
    background-color: black;
}

.showcase-bg-img
{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-color: blue;
    object-fit: cover;
}

.showcase-bg-img-buzz
{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: fill;
    z-index: 1;
    left: 0px;
    top: 0px;
    opacity: 100%;
}

