h1
{
    text-align: left;
    font-size: 42px;
    line-height: 45px;
}

.center
{
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    height: 400px;
}