h1
{
    text-align: center;
    font-size: 42px;
    line-height: 45px;
    color: #1C1C1C;
    margin-top: 30px;
}

.center
{
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}

.news
{
    margin-bottom: 20px;
}

.whats-new-title
{
    text-align: left;
    font-size: 30px;
    line-height: 35px;
    margin: 0px;
    color: #1c1c1c;
    font-weight: bold;
}

.whats-new-desc
{
    text-align: left;
    font-size: 20px;
    line-height: 25px;
    color: #1c1c1c;
    margin-top: 8px;
    margin-bottom: 8px;
}

.whats-new-date
{
    margin: 0px;
    color: #7C7C96;
    text-transform: uppercase;
}