.header-block
{
    position: relative;
    height: 60px;
    width: 100%;
}

.header-box
{
    width: 95%;
    position: relative;
    display: grid;
    grid-template-areas: "wordmark center end";
    grid-template-columns: auto 1fr auto;
    left: 50%;
    transform: translateX(-50%);
}

.wordmark-area
{
    position: relative;
    height: 100%;
    grid-area: wordmark;
}

.header-wordmark
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 48px;
    padding: 0px;
    margin: 0px;
}

.end
{
    grid-area: end;
    width: 180px;
    height: 100%;
}

.get-access-btn
{
    height: 78%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    border-style: solid;
    border-color: #A5A5A3;
    border-width: 2px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #FFD858;
}

.get-access-btn-txt
{
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bolder;
    color: #A5A5A3;
}

.center-tabs-cont
{
    display: inline-block;
    height: 100%;
    width: max-content;
    grid-area: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.tab
{
    display: inline-block;
    position: relative;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-size: 19px;
    line-height: 60px;
    text-transform: lowercase;
}

.no-dec-href
{
    text-decoration: none;
    color: #A5A5A3;
}