<link rel="stylesheet" href="../css/branding.css">
<link rel="stylesheet" href="components.css">
<link rel="stylesheet" href="../css/common.css">

<!--Top site navigation bar-->
<div class="header-block">
    <div class="header-box">
        <div class="wordmark-area">
            <a href="/" class="no-dec-href"><h2 class="wordmark header-wordmark">Aletheia</h2></a>
        </div>
        <div class="center-tabs-cont">
            
            <!--DOCS-->
            <p class="tab"><a href="../docs/" class="no-dec-href">DOCS</a></p>
            
            <!--Tutorials-->
            <p class="tab"><a href="../tutorials/" class="no-dec-href">Tutorials</a></p>
            
            <!--pricing-->
            <p class="tab"><a href="../pricing/" class="no-dec-href">Pricing</a></p>
            
        </div>
        <div class="end">
            <a href="../login/" class="no-dec-href">
                <div class="get-access-btn">
                    <p class="get-access-btn-txt">Get Access</p>
                </div>
            </a>
        </div>
    </div>
</div>
