<link rel="stylesheet" href="../css/branding.css">
<link rel="stylesheet" href="components.css">
<link rel="stylesheet" href="../css/common.css">

<!--Top site navigation bar-->
<div class="header-block">
    <div class="header-box">
        <div class="wordmark-area">
            <h2 class="wordmark header-wordmark">Aletheia</h2>
        </div>
        <div class="center-tabs-cont">

            <!--Home-->
            <a href="../" class="no-dec-href">
                <p class="tab">HOME</p>
            </a>
            
            <!--DOCS-->
            <a href="../api/" class="no-dec-href">
                <p class="tab">DOCS</p>
            </a>
            
            <!--Tutorials-->
            <a href="../tutorials/" class="no-dec-href">
                <p class="tab">Tutorials</p>
            </a>
            
            <!--pricing-->
            <a href="../pricing/" class="no-dec-href">
                <p class="tab">Pricing</p>
            </a>
            
        </div>
        <div class="end">
            <div class="get-access-btn">
                <p class="get-access-btn-txt">Get Access</p>
            </div>
        </div>
    </div>
</div>
