<link rel="stylesheet" href="/css/branding.css">
<link rel="stylesheet" href="/components/components.css">
<link rel="stylesheet" href="/css/common.css">

<!--Top site navigation bar-->
<div class="header-block">
    <div class="header-box">
        <div class="wordmark-area">
            <a href="/" class="no-dec-href"><h2 class="wordmark header-wordmark">Aletheia</h2></a>
        </div>
        <div class="center-tabs-cont">
            
            <!--DOCS-->
            <p class="tab"><a href="/docs/" class="no-dec-href">DOCS</a></p>
            
            <!--pricing-->
            <p class="tab"><a href="/pricing/" class="no-dec-href">Pricing</a></p>
            
        </div>
    </div>
</div>
