.background
{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    top: 0px;
}

.background-img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-tint
{
    background-color: rgba(255, 255, 255, 0.7);
    z-index: -1;
}

.pricing-table
{
    width: 100%;
}

.header-cell
{
    background-color: #1C1C1C;
    margin: 0px;
    color: #FDFDFD;
}

.service-row
{
    text-align: center;
    background-color: #EEEEEE;
    font-size: 20px;
}

.table-content
{
    text-align: center;
}

.green-check
{
    color: green;
    font-size: 35px;
}

.pricing-content
{
    font-size: 22px;
}

.t3
{
    background-color: #FFD858;
}

.t2
{
    background-color: #F8DD82;
}

.t1
{
    background-color: #FFE99F;
}

.callpermonthstat
{
    font-size: 20px;
    font-weight: bold;
}