.background
{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    top: 0px;
}

.background-img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-tint
{
    background-color: rgba(255, 255, 255, 0.7);
    z-index: -1;
}

.pricing-table
{
    width: 100%;
}

.header-cell
{
    background-color: #1C1C1C;
    margin: 0px;
    color: #FDFDFD;
}

.service-row
{
    text-align: center;
    background-color: #EEEEEE;
    font-size: 20px;
}

.table-content
{
    text-align: center;
}

.green-check
{
    color: green;
    font-size: 35px;
}

.pricing-content
{
    font-size: 27px;
}

.t3
{
    background-color: #FFD858;
}

.t2
{
    background-color: #F8DD82;
}

.t1
{
    background-color: #FFE99F;
}

.callpermonthstat
{
    font-size: 20px;
    font-weight: bold;
}

.pricing-txt
{
    font-size: 18px;
    line-height: 25px;
    margin-top: 0px;
}

#ContactSales
{
    width: 22%;
    height: 50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    background-color: #FFE99F;
    font-size: 18px;
}

.tier-container
{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    width: min-content;
}

.subscription-tier-box
{
    height: 21vw;
    width: 17vw;
    border-style: solid;
    border-color: #1C1C1C;
    border-width: 2px;
    border-radius: 15px;
    margin: 12px;
    display: inline-block;
    overflow-y: hidden;
    position: relative;
    background-color: #FFF5D3;
}

.subscription-text-cont
{
    margin: 0px;
    position: relative;
    display: block;
    overflow-y: hidden;
    top: 50%;
    transform: translateY(-50%);
}

.sub-call-ct
{
    font-size: 28px;
    color: #1C1C1C;
    text-align: center;
    overflow-y: hidden;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 30px;
}

.sub-price
{
    font-size: 42px;
    color: #1C1C1C;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 42px;
}

.tier-item
{
    margin: 0px;
    display: block;
    position: relative;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: #A5A5A3;
}

