.mid-cont
{
    height: 200px;
    width: 40%;
    transform: translateX(-50%);
    left:50%;
    position: relative;
    margin-top: 40px;
}

.txt-area
{
    width: 65%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.pp
{
    width: 100%;
}

.desc
{
    font-size: 18px;
    line-height: 26px;
}